<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuite">
    <test name="AutoQA">


        <classes>

            <class name="tests.statusReport.StatusReportGridTestPage">
                <methods>
                    <include name="testSRDedicatedGrid"/>
                    <parameter name="projectName" value="GK_sr_project"/>
                    <parameter name="projectID" value="1a236p80000mgjf0gr40000000"/>

                </methods>
            </class>
        </classes>

    </test>
</suite>