<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuite">
    <test name="AutoQA">


        <classes>

            <class name="tests.dashboard.DashLayoutsTestPage">
                <methods>
                    <include name="createNewLayout"/>
                    <parameter name="layoutName" value="GK_LAYOUT_001"/>
                    <parameter name="description" value="Some description"/>

                </methods>
            </class>
        </classes>

    </test>
</suite>